<div class="container" >
  <header class="jumbotron">
    <h1>All Pictures</h1>
    <hr />
  </header>
  <ul class="list-group">
    <li
      class="list-group-item"
      *ngFor="let picture of pictures; let i = index"
      [class.active]="i == currentIndex"
      (click)="setActivePicture(picture, i)"
    >
      <img [src]="picture.imagePath" [alt]="picture.name" [class.active]="i == currentIndex"
           (click)="setActivePicture(picture, i)"
      />
      {{picture.name}}
    </li>
    <style>
      div.preview-images > img {
        width: 30%;
      }
    </style>
  </ul>
  <button
    type="submit"
    class="btn btn-primary"
    (click)="deleteProject()"
    onClick="window.location.reload()"
  >
    Delete
  </button>
  <a class="btn btn-primary" routerLink="/pictures/{{ currentPicture._id }}">
    Edit
  </a>
</div>


