<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-secondary">
    <a href="#" class="navbar-brand">Partage de photos</a>
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/upload" class="nav-link" routerLink="upload">Upload Pictures </a>
      </li>
      <li class="nav-item">
        <a href="/pictures" class="nav-link" routerLink="pictures">List Pictures</a>
      </li>
      <li class="nav-item">
        <a href="/diapo" class="nav-link" routerLink="diapo">Diaporama</a>
      </li>
    </ul>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>

